<div class="container mt-4"><table class="table">
    <a href="/admin/hopdong" class="btn btn-primary">Thêm hợp đồng</a>
    <thead>
      <tr>
        <th scope="col">STT</th>
        <th scope="col">Phòng</th>
        <th scope="col">Giá</th>
        <th scope="col">Ngày bắt đầu</th>
        <th scope="col">Ngày kết thúc</th>
        <th scope="col">Đặt cọc</th>
      </tr>
    </thead>
    <tbody>
      {{#each hopdong}}
        <tr>
          <th scope="row">1</th>
          <td>{{this.roomId.roomNumber}}</td>
          <td>{{this.roomPrice}}</td>
          <td>{{toLocaleString this.startDate}}</td>
          <td>{{toLocaleString this.endDate}}</td>
          <td>{{this.deposit}}</td>
          <td>
            <a
              type="button"
              id="editButton"
              class="btn btn-primary"
              type="button"
            >Sửa</a>
            <button
              id="deleteButton"
              class="btn btn-danger"
              type="button"
            >Xóa</button></td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>