<div class="container">
  <h1 class="mt-3 text-center" style="color: brown; text-transform: uppercase;">
    Thanh toán hoá đơn
  </h1>
  <div class="d-flex gap-3">
    <form action="" method="get">
      <div class="d-flex align-items-center">
        <label class="d-block w-75" for="status">Trạng thái</label>
        {{consoleHbs filterStatus}}
        <select class="form-control mx-2 text-capitalize" name="status" id="">
          <option class="text-capitalize" value="all" {{selectedOption filterStatus "all" }}>tất cả</option>
          <option class="text-capitalize" value="true" {{selectedOption filterStatus "true" }}>đã thanh toán</option>
          <option class="text-capitalize" value="false" {{selectedOption filterStatus "false" }}>chưa thanh toán
          </option>
        </select>
        <button type="submit" class="btn btn-primary">Lọc</button>
      </div>
    </form>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th class="text-center" scope="col">STT</th>
        <th scope="col">Phòng</th>
        <th scope="col">Từ ngày</th>
        <th scope="col">Đến ngày</th>
        <th scope="col">Chỉ số điện cũ</th>
        <th scope="col">Chỉ số điện mới</th>
        <th scope="col">Chỉ số nước cũ</th>
        <th scope="col">Chỉ số nước mới</th>
        <th scope="col">Tổng tiền</th>
        <th scope="col">Thanh toán</th>
      </tr>
    </thead>
    <tbody>
      {{#each detailContracts}}
      <tr>
        <th class="align-content-center text-center">{{showSTT @index}}</th>
        <td class="align-content-center text-center">{{roomNumber}}</td>
        <td class="align-content-center text-center">{{formatDate startDate "DD/MM/YYYY"}}</td>
        <td class="align-content-center text-center">{{formatDate endDate "DD/MM/YYYY"}}</td>
        <td class="align-content-center text-center">{{oldElectric}}</td>
        <td class="align-content-center text-center">{{newElectric}}</td>
        <td class="align-content-center text-center">{{oldWater}}</td>
        <td class="align-content-center text-center">{{newWater}}</td>
        <td class="align-content-center text-center">{{showNumber total}}</td>
        <td class="align-content-center text-center">
          <a class="btn btn-primary" href="/api/exportBill?idDetailContract={{_id}}">Xuất hóa đơn</a>
          <form class="d-inline-block" action="/api/thanhToan?idDetailContract={{_id}}" method="post">
            <button type="submit" class="btn btn-primary" {{hiddenElement (compare isPaid true)}}>Thanh toán</button>
          </form>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>