<div class="container mt-4">
  <h1 class="mt-3 text-center" style="color: brown; text-transform: uppercase;">Hợp Đồng Thuê Trọ</h1>

  <div class="row mb-4">
    <div class="col">
      <div class="position-relative mb-5">
        <a href="/api/exportContract?idContract={{this._id}}"
          class="btn btn-primary position-absolute top-50 end-0 translate-middle-y">Xuất Hợp
          Đồng</a>
        <a href="/admin/edithopdong/{{this._id}}" style="right: 12%;" type="submit" id="suahopdong"
          class="btn btn-success position-absolute top-50 translate-middle-y">Sửa
          hợp đồng</a>
      </div>
      <label class=" form-label h5" for="chonPhong">Tên Khách Thuê</label>
      {{#each tenants}}
      <div class="dathemkhach row align-items-center">
        <div class="col">
          <a href="/admin/xemThongTinKhach/{{this._id}}" class="form-control text-decoration-none"
            readonly>{{this.name}}</a>
          <input type="hidden" name="idTenants" class="form-control" value="{{this._id}}" readonly />
        </div>
        {{/each}}
      </div>
    </div>
  </div>
  <div class="row mb-4">
    <div class="col">
      <div class="form-outline mb-4">
        <label class="form-label h5" for="chonPhong">Chọn phòng</label>
        <select id="chonPhong" name="idRoom" class="form-control" required disabled>
          {{#each rooms}}
          <option data-price="{{this.price}}" value="{{this._id}}" {{isSelectedObjectId this._id
            ../contract.idRoom._id}}>{{this.roomNumber}}</option>
          {{/each}}
        </select>
      </div>
    </div>
    <div class="col">
      <div class="form-outline mb-4">
        <label class="form-labe h5" for="giaPhong">Giá phòng</label>
        <input type="number" name="roomPrice" id="giaPhong" class="form-control" value="{{contract.roomPrice}}" required
          readonly />
      </div>
    </div>
  </div>

  <div class="row mb-4">

    <div class="col">
      <div class="form-outline">
        <label class="form-label h5" for="startDate">Ngày bắt đầu</label>

        <input type="text" class="form-control" value="{{toLocaleString contract.startDate}}" readonly />
      </div>
    </div>
    <div class="col">
      <div class="form-outline">
        <label class="form-label h5" for="endDate">Ngày kết thúc</label>

        <input type="text" id="endDate" class="form-control" value="{{toLocaleString contract.endDate}}" readonly />
      </div>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col">
      <div class="form-outline mb-4">
        <label class="form-label h5" for="form6Example6">Giá điện</label>
        <input type="number" name="electricPrice" id="form6Example7" class="form-control"
          value="{{contract.electricPrice}}" required readonly />
      </div>
    </div>
    <div class="col">
      <div class="form-outline mb-4">
        <label class="form-label h5" for="form6Example7">Giá nước</label>
        <input type="number" name="waterPrice" id="form6Example8" class="form-control" value="{{contract.waterPrice}}"
          required readonly />
      </div>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col">
      <div class="form-outline mb-4">
        <label class="form-label h5" for="form6Example9">Chỉ số điện cũ</label>

        <input type="number" id="oldElectric" class="form-control" value="{{contract.oldElectric}}" readonly />
      </div>
    </div>
    <div class="col">
      <div class="form-outline mb-4">
        <label class="form-label h5" for="form6Example10">Chỉ số nước cũ</label>

        <input type="number" id="oldWater" class="form-control" value="{{contract.oldWater}}" readonly />
      </div>
    </div>
  </div>

  <div class="form-outline mb-4">
    <label class="form-label h5" for="form6Example8">Tiền cọc</label>
    <input type="number" name="deposit" id="form6Example9" class="form-control" value="{{contract.deposit}}" required
      readonly />
  </div>
  <div class="d-flex justify-content-end">
  </div>
  <img src="/uploads/{{contract.images}}" alt="Image description" width="500" height="300">
</div>